.modalimg {
  width: 150px;
  height: 200px;
}

.buttonremove {
  padding-bottom: 10%;
}

.Line-item {
  padding-left: 30%;
}

#plus {
  padding-left: 3%;
}

#minus {
  padding-right: 3%;
}

#remove {
  margin-top: 3%;
}