.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navs {
  position: absolute;
  z-index: 1;
  color: #FFFAFA;
  bottom:0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

#myVideo {
  position: relative;
  min-width: 100%; 
  min-height: 100%;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.nav {
	color: #FFFAFA;
	align-items: center;
	text-align: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

.nav-link {
	font-size: larger;
	text-align: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

a {
  color: #f1f1f1;
  text-decoration: none;
  list-style: none;
}

a:hover {
  color:black;
}

#navs li {
  list-style-type: none;
}

h1 {
  font-size: 50px;
  font-family: 'Alfa Slab One', cursive;
  z-index:1;
  position: absolute;
  color:  #FFFAFA;
  margin: 0 auto;
}