.imgpic {
    width: 233px;
    height: 360px;
    padding: 2%;
    padding-top: 10%;
}

.inputfield {
  width: 45px;
  height: 20px;
}

.Product {
  padding-bottom: 5%;
}

.Product__option {
  height: 20px;
}

.inputfield {
  padding-left: 15%;
}
