.imgpic {
    width: 233px;
    height: 360px;
    padding: 2%;
    padding-top: 10%;
}
.Product__buy button {
  background: #fff;
}

.inputfield {
  width: 45px;
  height: 20px;
}

.Product {
  padding-bottom: 5%;
}

.Product__option {
  height: 20px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.inputfield {
  padding-left: 15%;
}

.Product__title {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 25px;
}

.Product__price {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 25px;
}

.imgpic:hover {
  -webkit-transform: scale(1.5,1.8);

}