.logo {
    width: 250px;
    height: 80px;
    margin-right: 15%;
}

.vimeos {
    width: 700px;
}

#title_vid {
    font-family: 'Cabin', cursive;
    font-size: 24px;
    width: 700px;
    padding-bottom: 5%;
}

.vidname {
    font-weight: bold;
    font-size: 20px;
}

.vidsummary {
    font-family: 'Cabin', cursive;
    font-size: 16px;
}

.linkfont {
  font-family: 'Inconsolata', monospace;
  color: black;
  text-decoration: none;
  font-size: 14px;
}

.navi {
  padding-right: 5%;
  padding-left: 3.5%;
  padding-top: 10%;
}

@media screen and (max-width: 400px) {
  .vimeos {
    width: 200px;
    height: 250px;
  }
  .navi {
    padding-top: 20%;
  }
}

@media screen and (max-width: 500px) {
  .vimeos {
    width: 250px;
    height: 300px;
  }
  .navi {
    padding-top: 15%;
  }
}

@media screen and (max-width: 600px) {
  .vimeos {
    width: 400px;
    height: 450px;
  }
  .navi {
    padding-top: 15%;
  }
}

@media screen and (max-width: 700px) {
  .vimeos {
    width: 500px;
    height: 550px;
  }
}
