.container {
  position: absolute;
}

.logo a {
    color: black;
    position: absolute;
    margin-left: 5%;
    font-family: 'Alfa Slab One', cursive;
    font-size: 30px;
    padding-top: 5%;
}

.vimeos {
  margin-left: 40%;
  margin-top: 17%;
}

.linkfont {
  color: black;
  text-decoration: none;
  font-size: 13px;
}

.navi {
  position: absolute;
  margin-left: 5%;
  margin-top: 25%;
}

.footer {
  position: absolute;
}

.videospace {
  padding-bottom: 5%;
}
