.container {
  position: absolute;
}

.logo a {
    color: black;
    position: absolute;
    margin-left: 5%;
    font-family: 'Alfa Slab One', cursive;
    font-size: 30px;
    padding-top: 5%;
}

#homeVideo {
  margin-left: 40%;
    height: 850px;
    width: 800px;
}

.linkfont {
  font-family: 'Inconsolata', monospace;
  color: black;
  text-decoration: none;
  font-size: 14px;
}

.navi {
  position: absolute;
  margin-left: 5%;
  margin-top: 25%;
}

.footer {
  position: absolute;
}

@media screen and (max-width: 1330px) {
  #homeVideo {
      height: 500px;
      width: 650px;
  }
}

@media screen and (max-width: 1200px) {
  #homeVideo {
      height: 700px;
      width: 650px;
  }
}

@media screen and (max-width: 1100px) {
    #homeVideo {
        height: 500px;
        width: 450px;
    }
}

@media screen and (max-width: 1000px) {
    #homeVideo {
        height: 600px;
        width: 550px;
    }
}

@media screen and (max-width: 850px) {
    #homeVideo {
        height: 450px;
        width: 400px;
    }
}

@media screen and (max-width: 650px) {
    #homeVideo {
        height: 400px;
        width: 350px;
    }
}

@media screen and (max-width: 500px) {
    #homeVideo {
        height: 350px;
        width: 300px;
    }
}

@media screen and (max-width: 400px) {
    #homeVideo {
        height: 250px;
        width: 200px;
    }
}

@media screen and (max-width: 350px) {
    #homeVideo {
        height: 200px;
        width: 180px;
    }
}
