
.logo {
    font-family: 'Alfa Slab One', cursive;
    padding-left: 2%;
    padding-bottom: 5%;
    padding-top: 3%;
    font-size: 30px;
}
.navbar {
}

#homeVideo {
    height: 450px;
    width: 450px;
    margin-left: 35%;
}

.list {
    position: absolute;
    top: 30%;
    font-family: 'Molengo', cursive;
    padding-left: 2%;
    font-size: 16px;
    padding-bottom: 20%;
}
