
.logo {
    font-family: 'Alfa Slab One', cursive;
    padding-left: 4%;
    padding-bottom: 5%;
    padding-top: 3%;
    font-size: 30px;
}

#homeVideo {
    position: absolute;
    height: 850px;
    width: 800px;
    margin-left: 28%;
    top: 1%;
}

.list {
    position: absolute;
    top: 30%;
    font-family: 'Molengo', cursive;
    padding-left: 4%;
    font-size: 16px;
    padding-bottom: 20%;
}
