.logo {
  padding-top: 3%;
    width: 250px;
    height: 80px;
    margin-right: 15%;
    padding-bottom: 10%;
}

#homeVideo {
    width: 700px;
}

.linkfont {
  font-family: 'Inconsolata', monospace;
  color: black;
  text-decoration: none;
  font-size: 14px;
}

.navi {
    padding-right: 5%;
    padding-left: 3.5%;
    padding-top: 10%;
}

@media screen and (max-width: 400px) {
  #homeVideo {
    width: 200px;
    height: 250px;
  }

  .navi {
    padding-top: 20%;
  }
}

@media screen and (max-width: 500px) {
  #homeVideo {
    width: 250px;
    height: 300px;
  }
  .navi {
    padding-top: 15%;
  }
}

@media screen and (max-width: 600px) {
  #homeVideo {
    width: 400px;
    height: 450px;
  }
  .navi {
    padding-top: 15%;
  }
}

@media screen and (max-width: 700px) {
  #homeVideo {
    width: 500px;
    height: 550px;
  }
}
