#twitter {
    margin-left: 40px;
}

#instagram {
    margin-left: 40px;
}

.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    padding-bottom: 1.5%;
}

.fab {
    margin-top: 2.5%;
}
